
*,
*::before, 
*::after {
    box-sizing: border-box;
}

h1, h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.navbar-brand {
    padding: 10px 20px;
    border-radius: 12px;
    color: #077c32;
    transition: .5s;
    border: 2px solid rgba(7, 124, 50, 0.2);
    
  }
  
  .navbar-brand:hover {
    color: #fff;
    background-color: #077c32;
    border-radius: 12px;
  }
  
  .nav-link {
    transition: .5s;
    font-size: 1rem;
  }
  
  .nav-link:hover {
    color: #077c32;
  }

.hero {
    margin-top: 72px;
}

.hero-image {
    width: 100%;
 }



    @media only screen and (max-width: 600px) { 
        .content img {
            width: 300px;
        }
      }
  